/* NavBar container */
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #997a7a;
    padding: 15px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  /* Style for each link */
  nav a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 8px 15px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  /* Hover effect for links */
  nav a:hover {
    background-color: #007BFF;
    color: #fff;
    cursor: pointer;
  }
  
  nav a.active {
    background-color: #0056b3;
  }
  